body 
{
	font-family: 'Varela Round', sans-serif;
}
h1
{
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	padding: 10px 40px 10px 40px;
	margin: 0px;
}
hr 
{
	margin-top: 0px;
	margin-bottom: 0px;	
}
.text 
{
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
}